shapes/script*.json
shapes/script*.txt
Spaceballs-StateOfTheArt.adf
Spaceballs-StateOfTheArt.dms
*.o
native/data/*
native/sota
*.wad
__pycache__
.DS_Store
Session.vim
frames
native-timing
native-timing-info.mov
libmikmod*
CONVERT
PIPELINE.txt
giantchunk.png
native/pebble-watchface/resources/
native/pebble-watchface/sota-all-orig.png
native/pebble-watchface/sota-all-orig.pxm
native/pebble-watchface/squash/
native/pebble-watchface/state.iff
native/pebble-watchface/state.mbit
native/pebble-watchface/state.mchunky
native/pebble-watchface/state.pnm
native/pebble-watchface/state.raw
native/pebble-watchface/state.raw.lz
native/pebble-watchface/state.svg
native/pebble-watchface/svg2pdc
native/pebble-watchface/svg2pdc.py
native/pebble-watchface/test.png
native/pebble-watchface/tmp/
native/test_bit_copy*
native/sota.html
native/sota.html.map
native/sota.html.mem
native/sota.js
